<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Tangy</title>
    </head>
    <body>
        <partial name="Partials/_Header" />
        <div class="container">
            <div class="body-content">
                @RenderBody()
            </div>
        </div>

        <partial name="Partials/_Footer" />
        @RenderSection("Scripts", required: false)
    </body>
</html>
