html{
    position: relative;
    min-height: 100%;
}

.body-content{
    margin-top: 80px;
}

.form-border{
    border: 1px solid #bbb9b9;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}