<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">Tangy</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Order History</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Category</a>
                    <a class="dropdown-item" href="#">Sub Category</a>
                    <a class="dropdown-item" href="#">Menu Items</a>
                    <a class="dropdown-item" href="#">Coupons</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Manage Order</a>
                    <a class="dropdown-item" href="#">Order Pickup</a>
                    <a class="dropdown-item" href="#">Download Order Detailed</a>
                </div>
            </li>
            <li>
                <a style="color:white;" href="#" class="nav-link"><i class="fa fa-shopping-cart"></i>&nbsp;(0)</a>
            </li>
        </ul>
    </div>
    <div class="form-inline">
        <partial name="_Login.cshtml" />
    </div>
</nav>
